<div class="auth-modal">
  <button class="auth-modal__close">&times;</button>
  <div class="auth-modal__title">Вхід</div>
  <div class="auth-modal__switch">Немає акаунта? <a href="#" id="openRegisterModal">Реєстрація</a></div>
  <form class="auth-modal__form" id="loginForm">
    <input class="auth-modal__input" type="email" name="Email" placeholder="E-mail" required>
    <input class="auth-modal__input" type="password" name="Password" placeholder="Пароль" required>
    <div class="auth-modal__error" id="loginError" style="display: none;"></div>
    <button class="auth-modal__button" type="submit">Увійти</button>
  </form>
</div>