<div class="auth-modal">
  <button class="auth-modal__close">&times;</button>
  <div class="auth-modal__title">Реєстрація</div>
  <div class="auth-modal__switch">Є акаунт? <a href="#" id="openLoginModal">Увійти</a></div>
  <form class="auth-modal__form" id="registerForm">
    <input class="auth-modal__input" type="text" name="FirstName" placeholder="Ім'я" required>
    <input class="auth-modal__input" type="text" name="SecondName" placeholder="Прізвище" required>
    <input class="auth-modal__input" type="email" name="Email" placeholder="E-mail" required>
    <input class="auth-modal__input" type="tel" name="PhoneNumber" placeholder="Телефон" required>
    <input class="auth-modal__input" type="password" name="Password" placeholder="Пароль" required>
    <input class="auth-modal__input" type="password" name="ConfirmPassword" placeholder="Повторити пароль" required>
    <div class="auth-modal__error" id="registerError" style="display: none;"></div>
    <button class="auth-modal__button" type="submit">Реєстрація</button>
  </form>
</div>