.terms-content ul {
    padding-left: 20px;
    list-style: disc;
}

.terms-content ul li {
    margin-bottom: 10px;
}

.terms-content p {
    margin-bottom: 16px;
}

.terms-content h1 {
    color: #4CAF50;
    font-weight: 900;
    margin-bottom: 24px;
    font-size: 2.5rem;
}

.terms-content h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    color: #4CAF50;
    font-weight: 700;
    font-size: 1.8rem;
}

.terms-content .fw-bold {
    font-weight: bold;
}