name: Deploy static site

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SERVER_URL: ${{ secrets.SERVER_URL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Replace secrets in JS
        run: |
          find . -type f -name "*.js" -exec sed -i "s|__SERVER_URL__|${SERVER_URL}|g" {} \;

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
